/*Image Css---------------------------------------*/
.centerProfileCells {
    display: flex;
    align-items: center;
    justify-content: center;
}

#accountImg {
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

#imgBox {
    padding-top: 25%;
    padding-bottom: 5px;
}

/*Edit Containers Css---------------------------------------*/

.buurtContainers {
    grid-gap: 8px;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 30px;
}

.contentAccountContainer {
    border-radius: 10px;
    grid-gap: 2px;
    margin-left: 10%;
    margin-right: 10%;

    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cc cc"
        "bb aa";
}

/*Edit Titel Css---------------------------------------*/

.textInfoBox {
    grid-area: cc;
    justify-content: center;
    font-family: berlinSans;
    font-size: 20px;
    color: #1B1D1F;
    margin-bottom: -25px;
}

/*Edit Imput Css---------------------------------------*/

.imputDiv {
    grid-area: bb;
}

.imputTextBox {
    padding-left: 10px;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(27 29 31);
    width: 95%;
    height: 25px;
}

/*Edit Pencil Icon Css---------------------------------------*/

.imgBox {
    grid-area: aa;
}

.editIcon {
    content: url(../media/icons/edit-icon-grey.png);
    width: 80%;
    height: 80%;
}

/*Logout Css-----------------------------*/

#uitloggen {
    margin-top: 5%;
    margin-left: 10%;
    border-width: 0px;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    background-color: rgb(68 146 116);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-width: 3px;
    border-color: rgb(68 146 116);
}