/*Text above containers*/
.infoContainer {
    width: 1fr;
    padding-top: 25%;
    padding-bottom: 10px;
}

.centerCells {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Containers with people from the neighborhood*/
.buurtContainers {
    grid-gap: 8px;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px;
}

.contentInBuurtContainer {
    border-radius: 10px;
    background-color: #449274;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.3);
    grid-gap: 2px;
    margin-left: 10%;
    margin-right: 10%;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas:
        "aa bb cc";
}

#textBox {
    grid-area: c;
}

.imgBox {
    grid-area: aa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textInfoBox {
    grid-area: bb;
}

.profileImage {
    object-fit: contain;
    height: 60%;
    width: 60%;
    border-radius: 50%;
}

.addImg {
    padding-top: 10px;
    grid-area: cc;
    object-fit: contain;
    height: 40%;
    width: 40%;
}