body {
    /* Cancels out all the default margins in webbrowsers */
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@font-face {
    src: url(../fonts/BRLNSDB.TTF);
    font-family: berlinSans;
}

a {
    font-family: berlinSans;
}

.defaultText {
    font-family: berlinSans;
    font-size: 20px;
    color: #1B1D1F;
}

.headerText {
    font-family: berlinSans;
    font-size: 50px;
    color: #1B1D1F;
}

.header2Text {
    font-family: berlinSans;
    font-size: 25px;
    color: #1B1D1F;
}

.navBarText {
    font-family: berlinSans;
    font-size: 15px;
    color: #ffffff;
}

.topBarText {
    font-family: berlinSans;
    font-size: 40px;
    color: #ffffff;
}

.imputText {
    font-family: berlinSans;
    font-size: 20px;
    color: #ffffff;
}