body {
    /* Cancels out all the default margins in webbrowsers */
    height: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*Everything to do with textsFonts and sizes*/

@font-face {
    src: url(../fonts/BRLNSDB.TTF);
    font-family: berlinSans;
}

.defaultTextWhite {
    font-family: berlinSans;
}

.defaultTextBlack {
    font-family: berlinSans;
    font-size: 15px;
    color: #ffffff;
}

.defaultTextWhite {
    font-family: berlinSans;
    font-size: 20px;
    color: #ffffff;
}

.headerText {
    font-family: berlinSans;
    font-size: 50px;
    color: #1B1D1F;
}

.header2Text {
    font-family: berlinSans;
    font-size: 25px;
    color: #1B1D1F;
}

.header3Text {
    font-family: berlinSans;
    font-size: 20px;
    color: #1B1D1F;
}

.navBarText {
    font-family: berlinSans;
    font-size: 15px;
    color: #ffffff;
}

.topBarText {
    font-family: berlinSans;
    font-size: 40px;
    color: #ffffff;
}

.imputText {
    font-family: berlinSans;
    font-size: 20px;
    color: #ffffff;
}

.headerEventText {
    font-family: berlinSans;
    font-size: 30px;
    color: #FFFFFF;
}

.textWhite {
    font-family: berlinSans;
    font-size: 15px;
    color: #ffffff;
}

.textGreenSmall {
    font-family: berlinSans;
    font-size: 15px;
    color: #347C76;
}

/*Everything to do with whitespaces between or under items*/

.whiteSpaceSmall {
    height: 100px;
}