.header-container {
    background-color: white;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding: 20px;
}