/*Evenementen Home Titel Texts ------------------------------*/
.infoContainer {
    padding-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    grid-gap: 8px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 40px 40px 40px;
    grid-template-areas:
        "a"
        "b"
        "c";
}

#time {
    grid-area: a;
}

#message {
    grid-area: b;
}

#textBox {

    grid-area: c;
    align-content: flex-end;
    justify-content: left;
}

/*Evenementen Cells ------------------------------*/

.eventContainer {
    padding-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    grid-gap: 8px;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 75px;
}

.centerHomeCells {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Content in Evenementen Cells ------------------------------*/

.eventCells {
    border-radius: 10px;
    background-color: #449274;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-columns: 25% 75%;
    grid-auto-rows: 50% 50%;
    grid-template-areas:
        "aa bb"
        "aa cc";
}

.eventImage {
    grid-area: aa;
}

#eventImage {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 20%;
}

.eventTitel {
    grid-area: bb;
    align-self: end;

}

.eventDate {
    grid-area: cc;
    align-self: start;
}