body {
    background-color: darksalmon;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px 100px;
    padding: 20px;
}

.centerCells {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-color: antiquewhite;
}

#cell1 {
    background-color: aqua;
}

#cell2 {
    background-color: cornflowerblue;
}

#cell3 {
    background-color: crimson;
}

#cell4 {
    background-color: deeppink;
}

#cell5 {
    background-color: blueviolet;
}

#cell6 {
    background-color: darkgreen;
}