body {
    background-image: url("../media/images/belcrumMaps.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*Map icon containers css*/

.mapContainer {
    align-content: center;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        ". . . . . ."
        ". . . . . ."
        ". . . a . ."
        ". b . . . ."
        ". . . . c ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . .";
}

#cell1 {
    grid-area: a;
}

#cell2 {
    grid-area: b;
}

#cell3 {
    grid-area: c;
}

/*Content in map icon containers css*/

.individualMapContainer {
    align-content: center;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20px 20px 50px;
    grid-template-areas:
        "cc"
        "bb"
        "aa";
}

.iconPin {
    grid-area: aa;
}

.eventTitel {
    grid-area: bb;
}

.eventDate {
    grid-area: cc;
}

.mapPinIcon {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}